body { 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh; 
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;} 
  
header {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex; 
    justify-content: flex-start; 
    padding: 10px;}
footer {
    width: 100%;
    color: white; 
    text-align: center;
    padding: 10px;
    display: flex; 
    justify-content: flex-end; }
.siu {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 180px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;}
h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 370px;}
h2{
    font-size: 20px;
    color: white;}
.contraseña h2{
    font-size: 25px;
    margin: 0;}
ul li{
    margin: 0;
    list-style-type: none;
    padding: 0%;}
.css{
    color: wheat;
    font-size: 22px;
    margin: 0%;
    padding: 0%;}
#boton{
    background-color: rgb(0, 187, 255);
    color: white;
    width: 150px;
    height: 40px;}
#eleccion{
    width: 70px;
    height:25px ;}
.header{
    background-image:url(../principal/img/casa.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40px;
    border: solid red 5px;}
    
.relojicono{ 
    background-image:url(../principal/img/reloj.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40px;
    border: solid orange 5px;}
    
.enlaceicono{
    background-image:url(../principal/img/enlace.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40px;
    border: solid blue 5px;}
.climaicono{
    background-image:url(../principal/img/clima.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40px;
    border: solid yellow 5px;}

