.horas img{width: 90px;height: 40px;}
.imagentemp{width: 20px;height: 40px;}
ul li{list-style-type: none;}

body { 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh; 
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
} 
header {
        
    width: 100%;
    
    color: white;
    text-align: center;
    padding: 10px;
    display: flex; 
    justify-content: flex-start; 
    padding: 10px;
}

footer {
    width: 100%;
    
    color: white; 
    text-align: center;
    padding: 10px;
    display: flex; 
    justify-content: flex-end; 
    
}

.clima{background-color: white}

.ciudad{display: flex;flex-direction:column;background-color: red;}
.grados{display: flex;width: 450px;background-color: blue;}
.predicciones{width: 600px;background-color: yellow;} 

.losdos{display: flex;}
.horas{display: grid;grid-template-columns: repeat(24,1fr);gap: 10px; 
    max-width: 500px;
    
    overflow-x: auto;max-height: 300px;overflow-y: auto;margin-top: 10px; }
.pegado{position: relative;}
.general{max-width: 500px;}
#textop{font-size: 55px;margin-top: 20px;margin-bottom: 10px;}

